@page "/alerts"
@inject HttpClient httpClient
@inject KeyStore.CloudStore keyStore

<h3>Alerts</h3>

@if (WhaleAlert != null && WhaleAlert.Status != null)
{
    <p>Status: @WhaleAlert.Status.Result</p>
}

@code {

    WhaleAlertModel WhaleAlert;

    protected override async Task OnInitializedAsync()
    {
        WhaleAlert = new WhaleAlert.WhaleAlertModel(httpClient, keyStore.WhaleAlertKey);
        await GetAlerts();
    }

    async Task GetAlerts()
    {
        await WhaleAlert.GetStatus();
    }


}