@page "/"
@inject KeyStore.CloudStore keyStore

<h1>Login</h1>

<EditForm Model="@auth" OnValidSubmit="GetApiKeys">
    <div class="form-field">
        <lable>Password 1:</lable>
        <div>
            <InputText @bind-Value="@auth.Password1" />
        </div>

        <lable>Password 2:</lable>
        <div>
            <InputText @bind-Value="@auth.Password2" />
        </div>
    </div>
</EditForm>

<button class="btn btn-primary" @onclick="GetApiKeys">Submit</button>

@code{
    Authentication auth = new Authentication();

    async Task GetApiKeys()
    {
        await keyStore.GetApiKeys(auth.Password1, auth.Password2);
    }

    public class Authentication
    {
        public string Password1 { get; set; }
        public string Password2 { get; set; }
    }
}
